/* ==========================
        R.H.S ADM V4
========================== */


*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;

}


body{

background:#050505;

color:white;

padding:20px;

}





.box{

max-width:600px;

margin:25px auto;

padding:30px;


background:

rgba(255,255,255,.06);


border:

1px solid rgba(255,255,255,.15);


border-radius:25px;


backdrop-filter:blur(20px);


}



h1,h2{

text-align:center;

margin-bottom:20px;

}



p{

color:#aaa;

text-align:center;

margin-bottom:20px;

}



input,
textarea,
select{


width:100%;

padding:15px;

margin:8px 0;


border:none;

outline:none;


border-radius:15px;


background:#111;

color:white;


}





textarea{

height:120px;

resize:none;

}



button{


width:100%;

padding:15px;

margin-top:15px;


border:none;

border-radius:30px;


background:white;

color:black;


font-weight:bold;

cursor:pointer;


}



button:hover{

transform:scale(1.03);

}



#listaAdmin .item{


margin-top:15px;


padding:20px;


background:#111;


border-radius:20px;


border:1px solid #333;


}




.exit{


background:#333;

color:white;


}





@media(max-width:600px){


body{

padding:10px;

}



.box{

padding:20px;

}



}
